/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

/* CUSTOM DEFAULT STYLES VARIABLES */
:root {
}

/* <weight>: Use a value from 100 to 900 */
.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* <weight>: Use a value from 400 to 700 */
.edu-au-vic-wa-nt-arrows {
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* SET THE STYLES BASED ON THE USER SYSTEM PREFERENCES FOR DARK THEME OR LIGHT THEME */
@media (prefers-color-scheme: dark) {
  :root {
  }

  /* IMPLEMENT THE FOLLOWING IF WE WANT TO ALLOW THE USER TO TOGGLE MANUALLY LIGHT DARK MODE */
  /* :root:not(.light) {
    This will apply if no class is set OR if 'dark' class is there
    --decor-color-1: green;
    Other dark theme variables
  } */
}

/* if light will use already the above :root variables */
@media (prefers-color-scheme: light) {
  /* :root {
  } */
}

/* CUSTOM STYLES SETTINGS */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* SETTING SOME DEFAULT STYLES */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif, serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

body {
}

button,
fieldset,
a {
  background: none;
  background-color: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
}

img[src=""],
img:not([src]) {
  background-image: url("/fallback-avatar.png");
  background-size: cover;
  background-position: center;
}

/* HOVER CLASSES RENDERED ONLY FOR DEVICES CAPABLE OF SUPPORTING IT */
/* (hover: hover) checks if the primary input mechanism of the device supports hover functionality. This typically applies to devices with a mouse or trackpad. */
/* (pointer: fine) checks if the primary pointing device is precise, which would be true for a mouse or stylus, but not for a finger on a touch screen. */
@media (hover: hover) and (pointer: fine) {
  /* .btn_type_main:hover {
    background-color: var(--decor-color-1);
  } */

  .workouts_page ul li:hover {
    background-color: rgb(35, 49, 77, 0.25);
  }
}

label,
input,
textarea {
  display: block;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

input,
textarea {
  font: inherit;
  padding: 0.2rem 0.4rem;
  width: 100%;
  max-width: 30rem;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}

button {
  font: inherit;
  background: #ff0062;
  border: 1px solid #ff0062;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #a80041;
  border-color: #a80041;
}

.projects {
  margin: 1rem;
  border: 1px solid #ff0062;
}

.projects header {
  background: #ff0062;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finished-projects {
  border-color: #0044ff;
}

#finished-projects header {
  background: #0044ff;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
}

.projects li h2 {
  color: #ff0062;
  margin: 0.5rem 0;
}

#finished-projects li h2 {
  color: #0044ff;
}

.projects li h3 {
  color: #575757;
  font-size: 1rem;
}

.project li p {
  margin: 0;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ff0062;
  background: #f7f7f7;
}
